<p>admission works!</p>
<app-accordion></app-accordion>
<app-alert></app-alert>

<section>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">
            <app-carousel></app-carousel>
        </div>
    </div>
</div>
</section>
<app-collapse></app-collapse>
<app-dropdown></app-dropdown>
<app-modal></app-modal>
<app-nav></app-nav>
<app-offcanvas></app-offcanvas>
<app-pagination></app-pagination>
<app-popover></app-popover>
<app-progressbar></app-progressbar>
<app-rating></app-rating>
<app-scrollspy></app-scrollspy>
<app-table></app-table>
<app-toast></app-toast>
<app-tooltip></app-tooltip>