
<footer class="footerarea">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
            <h4>Get in Touch</h4>
            <p><b>Government Polytechnic, <br/>
                 Adityapur</b><br/>
                Adityapur Industrial Area<br/>
                Seraikella-Kharsawan, Jharkhand<br/>
                PIN- 832109</p>

                <p>  +91-657 2383303</p>
                <p>  gpa2010@rediffmail.com</p>
            </div>
            <div class="col-md-3 col-12 ">
                <h4>Menu Items</h4>
                <ul>
                    <li>Student panel</li>
                    <li>Admin panel</li>
                    <li>Downloads</li>
                    <li>Disclaimer</li>
                    <li>Privacy policy</li>
                    <li>Refund policy</li>
                </ul>
            </div>
            <div class="col-md-3 col-12">
                <h4>Visitor Details</h4>
                <p>Your IP : 27.60.205.130</p>
                Browser : Chrome


            </div>
            <div class="col-md-3 col-12">
                <h4>Important Links</h4>
                <ul>
                    <li>MHRD</li>
                    <li>AICTE</li>
                    <li>Govt. of jharkhand</li>
                    <li>Jut Ranchi</li>
                    <li>SBTE Jharkhand</li>
                    <li>JCECEB</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <hr width="1200px" height="200px">Design & Developed By : Kunal Mahto

            </div>
        </div>
    </div>
</footer>



